@{
    ViewData["Title"] = "Weather";
}
<form asp-action="SearchView" asp-controller="Home" method="get">
    <div class="did-floating-label-content">
        <input class="did-floating-input" type="text" placeholder=" " autocomplete="off" name="location" />
        <label class="did-floating-label">Search City...</label>
    </div>
</form>
<br />

<h1><span class="gold-highlight">MVCPortfolio</span> Preview Application</h1>
<h3>Here you can search for the weather for a specific <span class="green-highlight">Location</span></h3>

<details>
    <summary>More...</summary>
    <a asp-action="SuperSecret" asp-controller="Home" asp-route-id="5">Super Secret Page 5 - KEEP OUT</a><br />
    @if (User?.Identity?.IsAuthenticated ?? false) {
        <a asp-action="Logout" asp-controller="Auth">Logout</a>
    }else {
        <a asp-action="Login" asp-controller="Auth">Login</a>
    }
</details>