html {
  font-size: 14px;
}

@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: local(JetBrains Mono Bold Nerd Font Complete), url("fonts/SUYkVPQNzqpyuvGu.woff2") format("woff2"), url("fonts/Q1FiBQcBNoPgmqCz.ttf") format("truetype");
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: local(JetBrains Mono Regular Nerd Font Complete), url("fonts/vpi7wY9hI3YBaZK1.woff2") format("woff2"), url("fonts/8GC6i3O-8O4u_YJ0.ttf") format("truetype");
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
}

:root {
    --background: #282c34;
    --white: #abb2bf;
    --gold: #e5c07b;
    --blue: #61afef;
    --green: #98c379;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: var(--background);
}

h3, h2, h1 {
    font-family: 'JetBrainsMono Nerd Font';
    text-align: center;
}

a,details {
    color: var(--white);
    text-decoration: underline;
    font-weight: bold;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: large;
    margin: 0 20px;
}

details {
    text-decoration: none;
    user-select: none;
}

.green-highlight {
    color: var(--green);
}

.blue-highlight {
    color: var(--blue);
}

.gold-highlight {
    color: var(--gold);
}

#main-container {
    color: var(--white);
    padding-top: 5em;
}

#weather-container {
    border: 4px var(--white) solid;
    border-radius: 5px;
    width:400px;
    margin: 7em auto;
    text-align: center;
    padding-bottom: 1em;
}

p {
    color: var(--white);
}

.weather-icon {
    width: 10em;
    height: auto;
    margin: -5em auto -1em auto;
    fill: var(--white);
    background: var(--background);
}

#weather-container > p {
    font-size: larger;
    font-family: 'JetBrainsMono Nerd Font';
    font-weight: bolder;
    margin-top: .5em;
    margin-bottom: .5em;
}

/*---------------------*/


.did-floating-label-content {
    position: relative;
    margin-bottom: 20px;
    width: 400px;
    margin: 1em auto;
}

.did-floating-label {
    color: var(--green);
    font-size: 14px;
    font-weight: bold;
    font-family: 'JetBrainsMono Nerd Font';
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 12px;
    padding: 0 5px;
    background: var(--background);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.did-floating-input, .did-floating-select {
    font-size: 12px;
    display: block;
    width: 100%;
    height: 36px;
    padding: 18px 20px;
    background: var(--background);
    color: var(--white);
    font-weight:bold;
    font-size:large;
    border: 3px solid var(--white);
    border-radius: 4px;
    box-sizing: border-box;
}
.did-floating-input:focus {
    outline: none;
}
.did-floating-input:focus ~ .did-floating-label {
    top: -8px;
    font-size: 13px;
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
    top: -8px;
    font-size: 13px;
}